<?xml version='1.0' encoding='windows-1252'?>
<!-- 
$Id$
Package definition file for the windows installer to be used with Wix
-->
<Wix xmlns='http://schemas.microsoft.com/wix/2003/01/wi'>
   <Product Id='6164a5b0-2ac9-11da-8cd6-0800200c9a66' Name='Crujisim' Language='1033' 
            Version='0.11.0.0' Manufacturer='Crujitech and Co'>
      <Package Id='????????-????-????-????-????????????'
               Description='Versión beta de Crujisim'
               Comments='Primer paquete para instalación de crujisim'
               Manufacturer='Crujitech and Co' InstallerVersion='200' Compressed='yes'
			   SummaryCodepage='1252'/>
			   
	<Media Id='1' Cabinet='crujisim.cab' EmbedCab='yes' />

		<Directory Id='TARGETDIR' Name='SourceDir'>
			<Directory Id='ProgramFilesFolder' Name='PFiles'>
				<Directory Id='INSTALLDIR' Name='Crujisim'>
					<Component Id='MainExecutable' Guid='6c9243a0-2ad0-11da-8cd6-0800200c9a66' />	
				</Directory>
			</Directory>
		</Directory>
		
		<Feature Id='Executable' Title='Crujisim' Level='1'>
			<ComponentRef Id='MainExecutable' />
		</Feature>
	</Product>
</Wix>
